.cartWrapper {
  background-color: #c4e538;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.cart {
  padding: 10px;
  background-color: aliceblue;
  height: auto;
  /* width: 200px; */
  border-radius: 20px;
  flex: 1 1 auto;
  /* justify-content: center; */
  text-align: center;

  margin: 20px;
}
.imgWrapper img {
  height: 200px;
  width: 200px;
  margin: 20px;
  display: inline;
}
